$primary-color: #1664ff;
$text-color: #1d1d20;
$text-color-secondary: #575757;
$text-color-tertiary: #8a8a8a;
$background-color: #ccc;
$font-size: 16px;
$success-color: #6ac21d;
$error-color: #c73131;
$warning-color: #f98e1b;